:root {
  --bisque-color: bisque;
  --black-color: #293241;
}

.navbar{
 margin-right: 100px;
}



.nav-item {
  height: 80px;
}

.nav-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: -35vh;
  right: -150%;
  opacity: 1;
  transition: all 0.5s ease; justify-content: flex-end;
}

.nav-menu.active {
  right:  -90%;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
  padding-right:100px;
}

.nav-links {

  text-align: center;
  padding: 2rem;
  width: min-content;
  display: table;
}

.nav-links:hover {
  background-color: var(--bisque-color);
  color: var(--black-color);
  border-radius: 0;
}

.navbar-logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25%, 50%);
}

.menu-icon {
  display: block;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.8rem;
  cursor: pointer;
}


li{
  list-style-type: none;
}